.descriptions {
    padding-top: 22px;
    display: flex;
    min-height: 480px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__item {
        width: 480px;
        min-height: 240px;
    }
    &__header {
        margin: 55px 141px 0 105px;
        font-size: 28px;
        line-height: 33px;
        font-weight: 300;;

color: #22356F;
    }
    &__descr {
        margin: 28px 77px 0 105px;
        font-size: 16px;
        line-height: 25px;
        color: rgba(34, 53, 111, 0.5);
        font-weight: 300;
    }
}